body {
  font-family: "Onest";
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
  max-width: 960px;
  background: linear-gradient(#180f21, #0d0a0f);
  background-repeat: no-repeat;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

header {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  width: 100%;
}

h2 {
  display: flex;
  align-items: center;
  gap: 16px;
}

.personal-info {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 20px;
}

picture {
  display: grid;
  place-content: center;
  gap: 8px;
  border-radius: 8px;
}

.profile-pic {
  max-width: 150px;
  max-height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 16px;
}

ul {
  margin: 0;
  padding: 16px;
}

li {
  display: flex;
  gap: 16px;
  padding: 8px;
}

.list-tile {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 4px;
}

.list-tile h2 {
  color: #fce96ae6;
}

.list-tile p {
  margin-left: 10px;
  color: #e4e4e7;
}

.more-info {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.more-info-card {
  display: flex;
  flex-direction: column;

  border-radius: 10px;
  border: 2px #fce96ae6;
}

.chip-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 16px;
}

.chip {
  display: flex;
  padding: 8px;
  border-radius: 8px;
  border: 2px;
}
